/*
    pesticide v1.3.0 . @mrmrs . MIT
    https://github.com/mrmrs/pesticide/blob&/master/css/pesticide.css

*/
.pesticide-active,
.pesticide-active-hover {
  --outline-pesticide-line-width: 1px;
  --color-pesticide-html: #071e85;
  --color-pesticide-body: #ff0000;
  --color-pesticide-hgroup: #277fb9;
  --color-pesticide-article: #3498db;
  --color-pesticide-nav: #0088c3;
  --color-pesticide-aside: #33a0ce;
  --color-pesticide-section: #66b8da;
  --color-pesticide-header: #99cfe7;
  --color-pesticide-footer: #cce7f3;
  --color-pesticide-h1: #162544;
  --color-pesticide-h2: #314e6e;
  --color-pesticide-h3: #3e5e85;
  --color-pesticide-h4: #449baf;
  --color-pesticide-h5: #c7d1cb;
  --color-pesticide-h6: #4371d0;
  --color-pesticide-main: #2f4f90;
  --color-pesticide-address: #1a2c51;
  --color-pesticide-div: #036cdb;
  --color-pesticide-p: #ac050b;
  --color-pesticide-hr: #ff063f;
  --color-pesticide-pre: #850440;
  --color-pesticide-blockquote: #f1b8e7;
  --color-pesticide-ol: #ff050c;
  --color-pesticide-ul: #d90416;
  --color-pesticide-li: #d90416;
  --color-pesticide-dl: #fd3427;
  --color-pesticide-dt: #ff0043;
  --color-pesticide-marquee: #ff005b;
  --color-pesticide-dd: #e80174;
  --color-pesticide-figure: #ff00bb;
  --color-pesticide-figcaption: #bf0032;
  --color-pesticide-table: #00cc99;
  --color-pesticide-caption: #37ffc4;
  --color-pesticide-thead: #98daca;
  --color-pesticide-tbody: #64a7a0;
  --color-pesticide-tfoot: #22746b;
  --color-pesticide-tr: #86c0b2;
  --color-pesticide-th: #a1e7d6;
  --color-pesticide-td: #3f5a54;
  --color-pesticide-col: #6c9a8f;
  --color-pesticide-colgroup: #6c9a9d;
  --color-pesticide-button: #da8301;
  --color-pesticide-datalist: #c06000;
  --color-pesticide-fieldset: #d95100;
  --color-pesticide-form: #d23600;
  --color-pesticide-input: #fca600;
  --color-pesticide-keygen: #b31e00;
  --color-pesticide-label: #ee8900;
  --color-pesticide-legend: #de6d00;
  --color-pesticide-meter: #e8630c;
  --color-pesticide-optgroup: #b33600;
  --color-pesticide-option: #ff8a00;
  --color-pesticide-output: #ff9619;
  --color-pesticide-progress: #e57c00;
  --color-pesticide-select: #e26e0f;
  --color-pesticide-textarea: #cc5400;
  --color-pesticide-details: #33848f;
  --color-pesticide-summary: #60a1a6;
  --color-pesticide-command: #438da1;
  --color-pesticide-menu: #449da6;
  --color-pesticide-del: #bf0000;
  --color-pesticide-ins: #400000;
  --color-pesticide-img: #22746b;
  --color-pesticide-iframe: #64a7a0;
  --color-pesticide-embed: #98daca;
  --color-pesticide-object: #00cc99;
  --color-pesticide-param: #37ffc4;
  --color-pesticide-video: #6ee866;
  --color-pesticide-audio: #027353;
  --color-pesticide-source: #012426;
  --color-pesticide-canvas: #a2f570;
  --color-pesticide-track: #59a600;
  --color-pesticide-map: #7be500;
  --color-pesticide-area: #305900;
  --color-pesticide-a: #ff62ab;
  --color-pesticide-em: #800b41;
  --color-pesticide-strong: #ff1583;
  --color-pesticide-i: #803156;
  --color-pesticide-b: #cc1169;
  --color-pesticide-u: #ff0430;
  --color-pesticide-s: #f805e3;
  --color-pesticide-small: #d107b2;
  --color-pesticide-strike: #ff00ff;
  --color-pesticide-abbr: #4a0263;
  --color-pesticide-q: #240018;
  --color-pesticide-cite: #64003c;
  --color-pesticide-dfn: #b4005a;
  --color-pesticide-sub: #dba0c8;
  --color-pesticide-sup: #cc0256;
  --color-pesticide-time: #d6606d;
  --color-pesticide-code: #e04251;
  --color-pesticide-kbd: #5e001f;
  --color-pesticide-samp: #9c0033;
  --color-pesticide-var: #d90047;
  --color-pesticide-mark: #ff0053;
  --color-pesticide-bdi: #bf3668;
  --color-pesticide-bdo: #6f1400;
  --color-pesticide-ruby: #ff7b93;
  --color-pesticide-rt: #ff2f54;
  --color-pesticide-rp: #803e49;
  --color-pesticide-span: #cc2643;
  --color-pesticide-br: #db687d;
  --color-pesticide-nobr: #ff4f6d;
  --color-pesticide-dialog: #ff5733;
  --color-pesticide-template: #3357ff;
  --color-pesticide-slot: #ff33a1;
  --color-pesticide-search: #ff33a1;
  --color-pesticide-rb: #ff33a1;
  --color-pesticide-acronym: #ff33a1;
  --color-pesticide-big: #ff33a1;
  --color-pesticide-center: #ff33a1;
  --color-pesticide-data: #ff33a1;
  --color-pesticide-dir: #ff33a1;
  --color-pesticide-font: #ff33a1;
  --color-pesticide-parent: #ff33a1;
  --color-pesticide-parent-child-hover: #ff5733;
}

:has(.pesticide-active-hover) {
  & :hover {
    outline: var(--outline-pesticide-line-width) solid
      var(--color-pesticide-parent) !important;

    & + * {
      outline: var(--outline-pesticide-line-width) solid
        var(--color-pesticide-parent-child-hover) !important;
    }
  }
}

:has(.pesticide-active) {
  & html {
    outline: var(--outline-pesticide-line-width) solid
      var(--color-pesticide-html) !important;
  }

  & body {
    outline: var(--outline-pesticide-line-width) solid
      var(--color-pesticide-body) !important;
  }

  & hgroup {
    outline: var(--outline-pesticide-line-width) solid
      var(--color-pesticide-hgroup) !important;
  }

  & article {
    outline: var(--outline-pesticide-line-width) solid
      var(--color-pesticide-article) !important;
  }

  & nav {
    outline: var(--outline-pesticide-line-width) solid
      var(--color-pesticide-nav) !important;
  }

  & aside {
    outline: var(--outline-pesticide-line-width) solid
      var(--color-pesticide-aside) !important;
  }

  & section {
    outline: var(--outline-pesticide-line-width) solid
      var(--color-pesticide-section) !important;
  }

  & header {
    outline: var(--outline-pesticide-line-width) solid
      var(--color-pesticide-header) !important;
  }

  & footer {
    outline: var(--outline-pesticide-line-width) solid
      var(--color-pesticide-footer) !important;
  }

  & h1 {
    outline: var(--outline-pesticide-line-width) solid var(--color-pesticide-h1) !important;
  }

  & h2 {
    outline: var(--outline-pesticide-line-width) solid var(--color-pesticide-h2) !important;
  }

  & h3 {
    outline: var(--outline-pesticide-line-width) solid var(--color-pesticide-h3) !important;
  }

  & h4 {
    outline: var(--outline-pesticide-line-width) solid var(--color-pesticide-h4) !important;
  }

  & h5 {
    outline: var(--outline-pesticide-line-width) solid var(--color-pesticide-h5) !important;
  }

  & h6 {
    outline: var(--outline-pesticide-line-width) solid var(--color-pesticide-h6) !important;
  }

  & main {
    outline: var(--outline-pesticide-line-width) solid
      var(--color-pesticide-main) !important;
  }

  & address {
    outline: var(--outline-pesticide-line-width) solid
      var(--color-pesticide-address) !important;
  }

  & div {
    outline: var(--outline-pesticide-line-width) solid
      var(--color-pesticide-div) !important;
  }

  & p {
    outline: var(--outline-pesticide-line-width) solid var(--color-pesticide-p) !important;
  }

  & hr {
    outline: var(--outline-pesticide-line-width) solid var(--color-pesticide-hr) !important;
  }

  & pre {
    outline: var(--outline-pesticide-line-width) solid
      var(--color-pesticide-pre) !important;
  }

  & blockquote {
    outline: var(--outline-pesticide-line-width) solid
      var(--color-pesticide-blockquote) !important;
  }

  & ol {
    outline: var(--outline-pesticide-line-width) solid var(--color-pesticide-ol) !important;
  }

  & ul {
    outline: var(--outline-pesticide-line-width) solid var(--color-pesticide-ul) !important;
  }

  & li {
    outline: var(--outline-pesticide-line-width) solid var(--color-pesticide-li) !important;
  }

  & dl {
    outline: var(--outline-pesticide-line-width) solid var(--color-pesticide-dl) !important;
  }

  & dt {
    outline: var(--outline-pesticide-line-width) solid var(--color-pesticide-dt) !important;
  }

  & marquee {
    outline: var(--outline-pesticide-line-width) solid
      var(--color-pesticide-marquee) !important;
  }

  & dd {
    outline: var(--outline-pesticide-line-width) solid var(--color-pesticide-dd) !important;
  }

  & figure {
    outline: var(--outline-pesticide-line-width) solid
      var(--color-pesticide-figure) !important;
  }

  & figcaption {
    outline: var(--outline-pesticide-line-width) solid
      var(--color-pesticide-figcaption) !important;
  }

  & table {
    outline: var(--outline-pesticide-line-width) solid
      var(--color-pesticide-table) !important;
  }

  & caption {
    outline: var(--outline-pesticide-line-width) solid
      var(--color-pesticide-caption) !important;
  }

  & thead {
    outline: var(--outline-pesticide-line-width) solid
      var(--color-pesticide-thead) !important;
  }

  & tbody {
    outline: var(--outline-pesticide-line-width) solid
      var(--color-pesticide-tbody) !important;
  }

  & tfoot {
    outline: var(--outline-pesticide-line-width) solid
      var(--color-pesticide-tfoot) !important;
  }

  & tr {
    outline: var(--outline-pesticide-line-width) solid var(--color-pesticide-tr) !important;
  }

  & th {
    outline: var(--outline-pesticide-line-width) solid var(--color-pesticide-th) !important;
  }

  & td {
    outline: var(--outline-pesticide-line-width) solid var(--color-pesticide-td) !important;
  }

  & col {
    outline: var(--outline-pesticide-line-width) solid
      var(--color-pesticide-col) !important;
  }

  & colgroup {
    outline: var(--outline-pesticide-line-width) solid
      var(--color-pesticide-colgroup) !important;
  }

  & button {
    outline: var(--outline-pesticide-line-width) solid
      var(--color-pesticide-button) !important;
  }

  & datalist {
    outline: var(--outline-pesticide-line-width) solid
      var(--color-pesticide-datalist) !important;
  }

  & fieldset {
    outline: var(--outline-pesticide-line-width) solid
      var(--color-pesticide-fieldset) !important;
  }

  & form {
    outline: var(--outline-pesticide-line-width) solid
      var(--color-pesticide-form) !important;
  }

  & input {
    outline: var(--outline-pesticide-line-width) solid
      var(--color-pesticide-input) !important;
  }

  & keygen {
    outline: var(--outline-pesticide-line-width) solid
      var(--color-pesticide-keygen) !important;
  }

  & label {
    outline: var(--outline-pesticide-line-width) solid
      var(--color-pesticide-label) !important;
  }

  & legend {
    outline: var(--outline-pesticide-line-width) solid
      var(--color-pesticide-legend) !important;
  }

  & meter {
    outline: var(--outline-pesticide-line-width) solid
      var(--color-pesticide-meter) !important;
  }

  & optgroup {
    outline: var(--outline-pesticide-line-width) solid
      var(--color-pesticide-optgroup) !important;
  }

  & option {
    outline: var(--outline-pesticide-line-width) solid
      var(--color-pesticide-option) !important;
  }

  & output {
    outline: var(--outline-pesticide-line-width) solid
      var(--color-pesticide-output) !important;
  }

  & progress {
    outline: var(--outline-pesticide-line-width) solid
      var(--color-pesticide-progress) !important;
  }

  & select {
    outline: var(--outline-pesticide-line-width) solid
      var(--color-pesticide-select) !important;
  }

  & textarea {
    outline: var(--outline-pesticide-line-width) solid
      var(--color-pesticide-textarea) !important;
  }

  & details {
    outline: var(--outline-pesticide-line-width) solid
      var(--color-pesticide-details) !important;
  }

  & summary {
    outline: var(--outline-pesticide-line-width) solid
      var(--color-pesticide-summary) !important;
  }

  & command {
    outline: var(--outline-pesticide-line-width) solid
      var(--color-pesticide-command) !important;
  }

  & menu {
    outline: var(--outline-pesticide-line-width) solid
      var(--color-pesticide-menu) !important;
  }

  & del {
    outline: var(--outline-pesticide-line-width) solid
      var(--color-pesticide-del) !important;
  }

  & ins {
    outline: var(--outline-pesticide-line-width) solid
      var(--color-pesticide-ins) !important;
  }

  & img {
    outline: var(--outline-pesticide-line-width) solid
      var(--color-pesticide-img) !important;
  }

  & iframe {
    outline: var(--outline-pesticide-line-width) solid
      var(--color-pesticide-iframe) !important;
  }

  & embed {
    outline: var(--outline-pesticide-line-width) solid
      var(--color-pesticide-embed) !important;
  }

  & object {
    outline: var(--outline-pesticide-line-width) solid
      var(--color-pesticide-object) !important;
  }

  & param {
    outline: var(--outline-pesticide-line-width) solid
      var(--color-pesticide-param) !important;
  }

  & video {
    outline: var(--outline-pesticide-line-width) solid
      var(--color-pesticide-video) !important;
  }

  & audio {
    outline: var(--outline-pesticide-line-width) solid
      var(--color-pesticide-audio) !important;
  }

  & source {
    outline: var(--outline-pesticide-line-width) solid
      var(--color-pesticide-source) !important;
  }

  & canvas {
    outline: var(--outline-pesticide-line-width) solid
      var(--color-pesticide-canvas) !important;
  }

  & track {
    outline: var(--outline-pesticide-line-width) solid
      var(--color-pesticide-track) !important;
  }

  & map {
    outline: var(--outline-pesticide-line-width) solid
      var(--color-pesticide-map) !important;
  }

  & area {
    outline: var(--outline-pesticide-line-width) solid
      var(--color-pesticide-area) !important;
  }

  & a {
    outline: var(--outline-pesticide-line-width) solid var(--color-pesticide-a) !important;
  }

  & em {
    outline: var(--outline-pesticide-line-width) solid var(--color-pesticide-em) !important;
  }

  & strong {
    outline: var(--outline-pesticide-line-width) solid
      var(--color-pesticide-strong) !important;
  }

  & i {
    outline: var(--outline-pesticide-line-width) solid var(--color-pesticide-i) !important;
  }

  & b {
    outline: var(--outline-pesticide-line-width) solid var(--color-pesticide-b) !important;
  }

  & u {
    outline: var(--outline-pesticide-line-width) solid var(--color-pesticide-u) !important;
  }

  & s {
    outline: var(--outline-pesticide-line-width) solid var(--color-pesticide-s) !important;
  }

  & small {
    outline: var(--outline-pesticide-line-width) solid
      var(--color-pesticide-small) !important;
  }

  & strike {
    outline: var(--outline-pesticide-line-width) solid
      var(--color-pesticide-strike) !important;
  }

  & abbr {
    outline: var(--outline-pesticide-line-width) solid
      var(--color-pesticide-abbr) !important;
  }

  & q {
    outline: var(--outline-pesticide-line-width) solid var(--color-pesticide-q) !important;
  }

  & cite {
    outline: var(--outline-pesticide-line-width) solid
      var(--color-pesticide-cite) !important;
  }

  & dfn {
    outline: var(--outline-pesticide-line-width) solid
      var(--color-pesticide-dfn) !important;
  }

  & sub {
    outline: var(--outline-pesticide-line-width) solid
      var(--color-pesticide-sub) !important;
  }

  & sup {
    outline: var(--outline-pesticide-line-width) solid
      var(--color-pesticide-sup) !important;
  }

  & time {
    outline: var(--outline-pesticide-line-width) solid
      var(--color-pesticide-time) !important;
  }

  & code {
    outline: var(--outline-pesticide-line-width) solid
      var(--color-pesticide-code) !important;
  }

  & kbd {
    outline: var(--outline-pesticide-line-width) solid
      var(--color-pesticide-kbd) !important;
  }

  & samp {
    outline: var(--outline-pesticide-line-width) solid
      var(--color-pesticide-samp) !important;
  }

  & var {
    outline: var(--outline-pesticide-line-width) solid
      var(--color-pesticide-var) !important;
  }

  & mark {
    outline: var(--outline-pesticide-line-width) solid
      var(--color-pesticide-mark) !important;
  }

  & bdi {
    outline: var(--outline-pesticide-line-width) solid
      var(--color-pesticide-bdi) !important;
  }

  & bdo {
    outline: var(--outline-pesticide-line-width) solid
      var(--color-pesticide-bdo) !important;
  }

  & ruby {
    outline: var(--outline-pesticide-line-width) solid
      var(--color-pesticide-ruby) !important;
  }

  & rt {
    outline: var(--outline-pesticide-line-width) solid var(--color-pesticide-rt) !important;
  }

  & rp {
    outline: var(--outline-pesticide-line-width) solid var(--color-pesticide-rp) !important;
  }

  & span {
    outline: var(--outline-pesticide-line-width) solid
      var(--color-pesticide-span) !important;
  }

  & br {
    outline: var(--outline-pesticide-line-width) solid var(--color-pesticide-br) !important;
  }

  & nobr {
    outline: var(--outline-pesticide-line-width) solid
      var(--color-pesticide-nobr) !important;
  }

  & dialog {
    outline: var(--outline-pesticide-line-width) solid
      var(--color-pesticide-dialog) !important;
  }

  & template {
    outline: var(--outline-pesticide-line-width) solid
      var(--color-pesticide-template) !important;
  }

  & slot {
    outline: var(--outline-pesticide-line-width) solid
      var(--color-pesticide-slot) !important;
  }

  & search {
    outline: var(--outline-pesticide-line-width) solid
      var(--color-pesticide-search) !important;
  }

  & rb {
    outline: var(--outline-pesticide-line-width) solid var(--color-pesticide-rb) !important;
  }

  & acronym {
    outline: var(--outline-pesticide-line-width) solid
      var(--color-pesticide-acronym) !important;
  }

  & big {
    outline: var(--outline-pesticide-line-width) solid
      var(--color-pesticide-big) !important;
  }

  & center {
    outline: var(--outline-pesticide-line-width) solid
      var(--color-pesticide-center) !important;
  }

  & data {
    outline: var(--outline-pesticide-line-width) solid
      var(--color-pesticide-data) !important;
  }

  & dir {
    outline: var(--outline-pesticide-line-width) solid
      var(--color-pesticide-dir) !important;
  }

  & font {
    outline: var(--outline-pesticide-line-width) solid
      var(--color-pesticide-font) !important;
  }
}
